@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fefefe;
  color: #4f4f4f;
}

#weatherCard {
  border-radius: 30px;
  background-color: #dae3ff;
  box-shadow: 5px 5px 37px -6px #000000;
  margin-top: 150px;
}

.navTitle,
#city,
.footerFont {
  font-family: "Tenor Sans", sans-serif;
}

#navBar {
  background-color: #eacbfe;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#forecastList {
  color: #4f4f4f;
}

.listGroupItem:nth-child(odd) {
  background-color: #dce4fc3c;
}

.listGroupItem:nth-child(even) {
  background-color: #e8e8e86b;
}

.cardHeader {
  background-color: #dce4fc3c;
}

#cardsCol {
  margin-bottom: 3rem;
  text-align: center;
}

.infoCard {
  height: 150px;
}

.infoContainer {
  background-color: #fcd1ff;
}

.footerBg {
  background-color: #eacbfe;
  color: #fefefe;
}

#navLogo,
.infoCard {
  transform: scale(1);
  transition: box-shadow 0.3s ease-in, transform 0.8s ease-in-out;
}

#navLogo:hover,
.infoCard:hover {
  box-shadow: 0px 0px 34px -4px #000000;
  cursor: pointer;
  transform: scale(1.1);
}

#heroContainer {
  margin-block: 7rem;
  margin-bottom: 26rem;
}

#searchButton {
  margin-left: 2rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.2rem;
}

#locationInput {
  width: 450px;
}
